<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<!-- monitorInterval表示每隔1800秒重新读取配置文件，可以不重启应用的情况下修改配置 -->
<configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">d:/temp/logs</property>
        <!-- 日志备份目录 -->
        <property name="BACKUP_HOME">{LOG_HOME}/backup</property>
        <property name="PROJECT_NAME">seedm</property>
        <property name="SERVER_NAME">seedm-repository</property>
        <property name="STAT_NAME">debug</property>
</properties>
<appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [${PROJECT_NAME}] [%thread][%l] - %msg%n" />
        </Console>
        <!-- 程序员调试日志 -->
        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${PROJECT_NAME}/${SERVER_NAME}_${STAT_NAME}.log" filePattern="${LOG_HOME}/${SERVER_NAME}.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [${PROJECT_NAME}] [%thread][%l] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- 产品数据分析日志 -->
        <RollingRandomAccessFile name="ProductLog" fileName="${LOG_HOME}}/${PROJECT_NAME}/${SERVER_NAME}.log" filePattern="${LOG_HOME}/${SERVER_NAME}_${STAT_NAME}.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%l] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <!-- 最多保存20个文件数 -->
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!-- SpringFramework -->
        <logger name="org.springframework.core" level="info">
        </logger>
        <logger name="org.springframework.beans" level="info">
        </logger>
        <logger name="org.springframework.context" level="info">
        </logger>
        <logger name="org.springframework.web" level="info">
        </logger>
        <logger name="org.springframework.jdbc" level="debug">
        </logger>
        <!-- Product Stat  logger -->
        <logger name="com.github.seedm.repository" level="INFO" additivity="false">
            <appender-ref ref="ProductLog" />
        </logger>
        <!-- Root Logger -->
        <root level="DEBUG">
            <!--<appender-ref ref="DevLog" />-->
            <!--<appender-ref ref="ProductLog" />-->
            <appender-ref ref="Console" />
        </root>
    </loggers>
</configuration>