<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Shiro -->
	<!-- 安全管理器-->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="accountRealm"/>
		<property name="cacheManager" ref="cacheManager" />
		<!--<property name="rememberMeManager" ref="rememberMeManager" />-->
	</bean>

	<!-- EhCache缓存管理 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="ehCacheManager" />
	</bean>

	<!-- 账号凭证匹配器，密码输入错误五次会冻结一段时间 -->
	<bean id="credentialsMatcher" class="com.github.seedm.service.shiro.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManager" />
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="2" />
		<property name="storedCredentialsHexEncoded" value="true" />
	</bean>

	<!-- 账号信息权限验证 -->
	<bean id="accountRealm" class="com.github.seedm.service.shiro.AccountRealm">
		<!--<property name="credentialsMatcher" ref="credentialsMatcher" />-->
	</bean>

	<!-- rememberMeManager管理器，写cookie，取出cookie生成用户信息 -->
	<!--<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">-->
		<!--&lt;!&ndash; cookie加密秘钥，默认使用AES算法 &ndash;&gt;-->
		<!--<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />-->
		<!--<property name="cookie" ref="rememberMeCookie" />-->
	<!--</bean>-->

	<!-- 记住我Cookie -->
	<!--<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">-->
		<!--&lt;!&ndash; Cookie名字 &ndash;&gt;-->
		<!--<constructor-arg value="rememberMe" />-->
		<!--<property name="httpOnly" value="true" />-->
		<!--&lt;!&ndash; Cookie失效时间为30天，单位毫秒 &ndash;&gt;-->
		<!--<property name="maxAge" value="2592000" />-->
	<!--</bean>-->

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>

	<!-- 开启Shiro注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>

	<!-- ShrioWeb过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 必须指定安全管理器 -->
		<property name="securityManager" ref="securityManager"/>
		<!-- 身份认证失败: 跳转至登陆页面 -->
		<property name="loginUrl" value="/main/login"/>
		<!-- 权限认证失败: 未认证跳转至登陆页面 -->
		<property name="unauthorizedUrl" value="/main/login"/>
		<!--
			Shiro连接约束配置,即过滤链的定义
			authc:必须登陆才能访问
			anon:匿名访问
			roles[角色名]:必须为指定角色
			perms[xxx:xxx]:必须为指定权限
		 -->
		<property name="filterChainDefinitions">
			<value>
				/resources/** = anon
				/login/submit = anon
				/main/login = anon
				/** = authc
			</value>
		</property>
	</bean>
</beans>
