<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />

	<bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf/db.properties</value>
				<value>classpath:conf/redis.properties</value>
			</list>
		</property>
	</bean>

	<bean id="codecKit" class="com.github.toolkit.core.CodecKit" />

	<bean id="ehCacheManager"
		  class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:conf/ehcache.xml" />
		<!-- 开启共享 -->
		<property name="shared" value="true"></property>
	</bean>

	<import resource="classpath*:spring-service.xml" />
	<import resource="classpath*:spring-shiro.xml" />
	<import resource="classpath*:spring-mybatis.xml" />
	<import resource="classpath*:spring-redis.xml" />
</beans>
