<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seedm.repository.mapper.seed.IRolePermissionMapper">

    <insert id="insert" parameterType="RolePermissionVo">
        INSERT INTO role_permission
          (id, role_id, permission_id)
        VALUES
          (#{id}, #{roleId}, #{permissionId})
    </insert>

    <!--<select id="selectById" resultType="RoleVo">-->
        <!--SELECT-->
          <!--id, name, sign, description-->
        <!--FROM-->
          <!--role-->
        <!--WHERE-->
          <!--id = #{id}-->
    <!--</select>-->
</mapper>