<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seedm.repository.mapper.seed.ISchoolMapper">

    <resultMap id="schoolMap" type="SchoolVo">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="intro" column="intro"></result>
        <result property="address" column="address"></result>
        <result property="contactNo" column="contact_no"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>

    <resultMap id="schoolWithSemesterMap" type="SchoolVo">
        <id property="id" column="sch_id"></id>
        <result property="name" column="sch_name"></result>
        <result property="intro" column="intro"></result>
        <result property="address" column="address"></result>
        <result property="contactNo" column="contact_no"></result>
        <result property="createTime" column="create_time"></result>
        <association property="semesters" resultMap="com.github.seedm.repository.mapper.seed.ISemesterMapper.semesterMap" />
    </resultMap>

    <insert id="insert" parameterType="SchoolVo">
        INSERT INTO school
          (id, name, intro, address, contact_no, create_time)
        VALUES
          (#{id}, #{name}, #{intro}, #{address}, #{contactNo}, #{createTime})
    </insert>

    <insert id="insertMulti">
        INSERT INTO school
        (id, name, intro, address, contact_no, create_time)
        VALUES
        <foreach item="school" collection="list" separator=",">
          (#{school.id}, #{school.name}, #{school.intro}, #{school.address}, #{school.contactNo}, #{school.createTime})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE FROM
            school
        WHERE
            id = #{id}
    </delete>

    <update id="update">
        UPDATE school
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="address != null">address = #{address},</if>
            <if test="address != null">contact_no = #{contactNo}</if>
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="selectById" resultMap="schoolMap">
        SELECT
          id, name, intro, address, contact_no, create_time
        FROM
          school
        WHERE
          id = #{id}
    </select>

    <select id="selectWithSemesterById" resultMap="schoolWithSemesterMap">
        SELECT
          sch.id sch_id, sch.name sch_name, sch.intro, sch.address, sch.contact_no, sch.create_time, sem.id sem_id, sem.name sem_name, sem.status, sem.begin_time, sem.end_time
        FROM
          school sch LEFT JOIN semester sem ON
          sch.id = sem.school_id
        WHERE
	      sch.id = #{id}
    </select>
    
    <select id="selectAll" resultType="SchoolVo">
        SELECT
          id, name, intro, address, contact_no, create_time
        FROM
          school
    </select>

    <select id="selectAllByCriteria" resultMap="schoolMap">
        SELECT
          id, name, intro, address, contact_no, create_time
        FROM
          school
        <where>
            <if test="name != null">name LIKE CONCAT(CONCAT('%',#{name}),'%')</if>
            <if test="address != null">AND address LIKE CONCAT(CONCAT('%',#{address}),'%')</if>
            <if test="contactNo != null">AND contact_no LIKE CONCAT(CONCAT('%',#{contactNo}),'%')</if>
        </where>
    </select>
</mapper>