<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seedm.repository.mapper.seed.ISchoolMapper">

    <resultMap id="schoolMap" type="SchoolVO">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="intro" column="intro"></result>
        <result property="address" column="address"></result>
        <result property="contactNumber" column="contact_number"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>

    <insert id="insert" parameterType="SchoolVO">
        INSERT INTO school
          (id, name, intro, address, contact_number, create_time)
        VALUES
          (#{id}, #{name}, #{intro}, #{address}, #{contactNumber}, #{createTime})
    </insert>

    <insert id="insertMulti">
        INSERT INTO school
        (id, name, intro, address, contact_number, create_time)
        VALUES
        <foreach item="school" collection="list" separator=",">
          (#{school.id}, #{school.name}, #{school.intro}, #{school.address}, #{school.contactNumber}, #{school.createTime})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE FROM
            school
        WHERE
            id = #{id}
    </delete>

    <update id="update">
        UPDATE school
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="intro != null">name = #{intro},</if>
            <if test="address != null">name = #{address},</if>
            <if test="contactNumber != null">name = #{contactNumber}</if>
        </set>
        WHERE
            id = #{id}
    </update>
    
    <select id="selectAll" resultType="SchoolVO">
        SELECT
            id, name, intro, address, contact_number, create_time
        FROM
            school
    </select>

    <select id="selectById" resultMap="schoolMap">
        SELECT
            id, name, intro, address, contact_number, create_time
        FROM
            school
        WHERE
            id = #{id}
    </select>
</mapper>