<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seedm.repository.mapper.seed.IStudentSchoolMapper">

    <insert id="insert" parameterType="StudentSchoolVo">
        INSERT INTO student_school
          (id, student_id, school_id)
        VALUES
          (#{id}, #{studentId}, #{schoolId})
    </insert>

    <!--<select id="selectById" resultType="RoleVo">-->
        <!--SELECT-->
          <!--id, name, sign, description-->
        <!--FROM-->
          <!--role-->
        <!--WHERE-->
          <!--id = #{id}-->
    <!--</select>-->
</mapper>