<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seedm.repository.mapper.ISysDistrictMapper">
    <select id="selectByCityCode" resultType="SysDistrictVo">
        SELECT
	      d.id, d.code, d.name
        FROM
          sys_district d inner join sys_city c on
          d.city_code = c.code
        WHERE
	      c.code = #{cityCode};
    </select>
</mapper>